<div id="statusbar">
<p>Status:</p>
<ul>
  <li>Money: {{playerStatus.money | currency}}</li>
  <li>Skill: {{playerStatus.skill}}</li>
  <li>Equipment: <div [innerHTML]="playerStatus.equipment.toHTML()"></div></li>
  <li>Brews ({{playerStatus.brews.length}})
    <ul>
      <li *ngFor="let brew of playerStatus.brews">
        <button
        [disabled]="brew.status === BrewStatus.Sold"
        (click)="progressBrew(brew)"
        >
        {{brew.beer.name}} (quality {{brew.quality}}) ({{brew.amount}}L) ({{brew.status}})</button>
      </li>
    </ul>
  </li>
</ul>
</div>
